@{
    @model IEnumerable<SuperNaaahi.Models.PuntuazioaModel>
}

<table class="table table-striped" id="tabla">
    <thead>
        <tr>
            <th>Langilea</th>
            <th>Puntuazioa</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
                {
        <tr id="row-@item.Id">
            <th>@Html.DisplayFor(modelItem => item.Jokalari)</th>
            <th>@Html.DisplayFor(modelItem => item.Puntuazioa)</th>
            <th>@Html.DisplayFor(modelItem => item.Data)</th>
        </tr>
                }
    </tbody>
</table>

