
@{
    ViewData["Title"] = "Foroa";
    @model SuperNaaahi.Models.Foroa
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-8">
        <br />
        @await Component.InvokeAsync("Foroa")
        <!--<textarea class="komentarioKutxa" disabled> ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrg Pepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrg</textarea>-->
        <br />

    </div>
    <div class="col-4">
        <h5 class="display-5">Laga hemen zure komentarioak</h5>
        <br />
        <form asp-action="Foroa">
            <div class="form-group">

                <label asp-for="Korreoa" class="control-label"></label>
                <input asp-for="Korreoa" class="form-control" value="@User.Identity.Name" readonly />
                <span asp-validation-for="Korreoa" class="text-danger"></span>
                <br />
                <label asp-for="Komentarioa">Komentarioa</label>
                <textarea asp-for="Komentarioa" class="form-control komentarioakSartzekoLekua"></textarea>
                <span asp-validation-for="Komentarioa"></span>
            </div>

            <button type="submit" class="btn btn-primary">Komentatu</button>

        </form>
    </div>
</div>


