@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NOR GARA? </h1>
    <p>Gu Maitane Gallastegui, Alex Moreno, Hegoi Garate eta Oihana Arambarri gara SuperNaaahi enpresako programatzaileak.</p>
    
</div>
