@{
    ViewData["Title"] = "Foroa";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-8">
        <br />
        <div>

        </div>
        <!--<textarea class="komentarioKutxa" disabled> ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrg Pepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrgPepe: ¿Por qué no te callas? odfgjdopgjsdop rgs rghsgg rgr drgd gdr gdrg drg drgdr gd gdg dg dr gdr gdrg dgdg dg dg dgd rgd gd gd g g dg dg d gd rgdrgrg g d gd gdg dgdrgddrg</textarea>-->
        <br />

    </div>
    <div class="col-4">
        <h5 class="display-5">Laga hemen zure komentarioak</h5>
        <br />
        <form>
            <div class="form-group">
                <label for="">Gaia</label>
                <input type="text" class="form-control" id="" placeholder="Sartu gaia" />
            </div>
            <div class="form-group">
                <label for="">Komentarioa</label>
                <textarea type="password" class="form-control komentarioakSartzekoLekua" id="" placeholder="Komentarioa"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Komentatu</button>

        </form>
    </div>
</div>


