@{
    ViewData["Title"] = "Hall Of Fame";
}
<h1>@ViewData["Title"]</h1>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Langilea</th>
            <th>Puntuazioa</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Oihana</th>
            <th>200</th>
            <th>2021-12-3</th>
        </tr>
        <tr>
            <th>Maitane</th>
            <th>20</th>
            <th>2021-12-14</th>
        </tr>
    </tbody>
</table>
