@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NORTZUK GARA? </h1>
    <img src="~/images/supernaaahi.png" class="argazkiaIndex" />
    <div class="informazioaIndex">
        <p>Gure enpresa SuperNaaahi deitzen da. Eta elikagaien salmentan aritzen gara.</p>
        <p>Web orri honetan aurkituko duzu gure langileen artean antolatutako txapelketa</p>
        <p>Txapelketako informazioa ikusteko logeatu behar zara</p>

    </div>

    @if (SignInManager.IsSignedIn(User))
    {
        <b><a class="nav-link inkestaLinka" asp-area="" asp-controller="Home" asp-action="Inkesta">Inkesta betetzeko klikatu hemen</a></b>
    }
    else
    {
        <b><a class="nav-link inkestaLinka" asp-area="Identity" asp-page="/Account/Login">Inkesta betetzeko klikatu hemen</a></b>
    }
</div>
